body {
  position: relative;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  background-size: cover;
  background-image: url("assets/images/pattern-background-desktop-light-top-left.svg"), url("assets/images/pattern-background-desktop-light_bottom-right.svg") ;
  background-repeat: no-repeat;
  background-position: left top, right bottom;
  background-color: #f4f6fa;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}


